POSTGRES_USER=raven
POSTGRES_PASSWORD=raven
POSTGRES_DB=raven
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgresql://raven:raven@localhost:5432/raven
REDIS_HOST=localhost
REDIS_PORT=6379
RECAPTCHA_SECRET_KEY=6Ldq1OsrAAAAAJeNcUvvHo9KQDlP6gzRMz3dJ88a
RECAPTCHA_SECRET_KEY_TEST=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
JWT_SECRET=your_jwt_secret_key
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=mortimer.emard@ethereal.email
SMTP_PASS=mdtnq1TXKSQxa6uSzz