POSTGRES_USER=raven
POSTGRES_PASSWORD=raven
POSTGRES_DB=raven
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
REDIS_HOST=localhost
REDIS_PORT=6379
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
JWT_SECRET=your_jwt_secret_key
SMTP_USER=loayahmed304@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PASS=very-secret-stuff
SMTP_PORT=587
TLS=true
SSL=false
MAIL_FROM=raven@cmp27.space
MAIL_NAME=Raven