POSTGRES_USER=raven
POSTGRES_PASSWORD=raven
POSTGRES_DB=raven
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
REDIS_HOST=localhost
REDIS_PORT=6379
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
JWT_SECRET=very-secret-stuff
SMTP_USER=loayahmed304@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PASS=very-secret-stuff
SMTP_PORT=587
TLS=true
SSL=false
MAIL_FROM=raven@cmp27.space
MAIL_NAME=Raven
GITHUB_CLIENT_ID=raven
GITHUB_CLIENT_SECRET=raven
GITHUB_CALLBACK_URL=http://localhost:3000/oauth/github/callback
GOOGLE_CLIENT_ID=raven
GOOGLE_CLIENT_SECRET=raven
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback/google
ACCESS_JWT_EXPIRES_IN=15
ACCESS_TOKEN_EXPIRES_IN_SECONDS=900
REFRESH_TOKEN_EXPIRES_IN_DAYS=30
NODE_ENV=dev
